@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error-msg {
  color: #f50057;

}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

form button {
  margin-top: 5%;
  height: 25px;
}

